/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}

#main-content {
    flex: 1; /* Fills available space */
}

/* Header and Navigation */
header {
    background-color: #333;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensure space between logo and title */
}

header nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo img {
    height: 50px; /* Adjust size as needed */
    width: auto;
    border-radius: 40px;
}

.header-title {
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
}

.nav-links a:hover {
    color: #ff6b6b;
}

/* Hero Section */
.hero {
    height: 100vh;
    background: url('/static/photos/background.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 70px; /* Offset for the fixed header */
}

.hero-content {
    background: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    border-radius: 10px;
    color: #fff;
}

.hero h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.hero .services-box {
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    padding: 2rem;
    border-radius: 10px;
    color: #333;
    display: inline-block; /* Fit to content */
}

.hero h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.hero ul {
    list-style: none; /* Remove bullets */
}

.hero li {
    margin-bottom: 1.5rem;
}

.hero h4 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.hero p {
    font-size: 1.1rem;
    line-height: 1.6;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2rem;
    }

    .nav-links {
        flex-direction: column;
        display: none;
    }

    .nav-links.active {
        display: flex;
    }
}
